#header .nav-menu a {
    color: #fff;
}

.home-section {
    background: url(../img/home-banner.jpg);
    min-height: 755px;
}

.home-container {
    margin-top: 195px;
}

#table-article *,
#table-article *:before,
#table-article *:after {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.multiselect-container {
    width: 100% !important;
}

button.multiselect {
    width: 100%;
}

.validation-summary-errors {
    color: red;
}

