@model ASPCore.Blog.WebUI.Models.CategoriesModel
@{
    ViewData["Title"] = "Category Form";
}

<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
            <div class="section-top-border">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <h3 class="mb-30">Form Category</h3>
                        <form asp-controller="Category" asp-action="@ViewBag.Action" method="post">
                            <div asp-validation-summary="All"></div>
                            @if (ViewBag.Action == "Update")
                            {
                                <input asp-for="CategoryId" type="hidden" value="@Model.CategoryId">
                            }
                            <div class="mt-10">
                                <input asp-for="Name" class="single-input" placeholder="Enter category">
                            </div>
                            <div class="mt-10">
                                <button type="submit" class="genric-btn success circle">@ViewBag.Action</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}