@page
@model LoginModel
@{
    ViewData["Title"] = "Log In";
}

<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
            <div class="section-top-border">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <h3 class="mb-30">@ViewData["Title"]</h3>
                        <form id="account" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="mt-10">
                                <input asp-for="Input.Email" class="single-input email" placeholder="Email" />
                            </div>
                            <div class="mt-10">
                                <input asp-for="Input.Password" class="single-input" type="password" placeholder="Password" />
                            </div>
                            <div class="mt-10">
                                <button type="submit" class="genric-btn success circle">Log In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}