@model IEnumerable<ASPCore.Blog.Domain.Entities.Categories>
@{
    Layout = null;
}

<div class="single-widget category-widget">
    <h4 class="title">Post Categories</h4>
    <ul>
        @foreach (var category in Model)
        {
            <li>
                <a id="@category.CategoryId" href="" class="justify-content-between align-items-center d-flex">
                    <p><img src="img/bullet.png" alt="">@category.Name</p>
                </a>
            </li>
        }
    </ul>
</div>