@{
    ViewData["Title"] = "Home Page";
}

<div class="main-body section-gap home-section">
    <div class="container box_1170 home-container">
        <div class="text-center">
            <h1 class="display-4 text-white">Welcome to my Blog</h1>
        </div>
    </div>
</div>
